
.login-page--bg {
    /*https://unsplash.com/photos/VDFOnAwdVjg*/
    /* background: url('https://source.unsplash.com/1600x900/?home') no-repeat center center fixed; */
    background: url('../style/imgs/login_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:absolute;
    width:100%;
    height:100%;
    /* filter: blur(5px); */
}

.login-form {
    position: absolute;
    width: 30em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em;
    border-radius: 0.25em;
    background: rgba(255,255,255,0.9);
    box-shadow: 4px 3px 5px rgba(0,0,0,0.3);
}